<div class = "">
  <section class="home_page_header">
    <div class="home_header">
      <h1 class="home_header_title site_title">ユーチューバーGROWTHとは？</h1>
      <p class="home_header_text">次世代ユーチューバーの応援メディア。
      <br>「ユーチューバーの経済圏に好循環を生み出すこと」を目標に活動しています。</p>
    </div>
  </section>
  <section class="home_page_body">
    <div class="home_body site_w">
      <h2 class="home_sab_title site_title"> サイト概要</h2>
      <p class=" site_text">ユーチューバーGROWTHは、次世代ユーチューバーを様々な角度から特集することで、
      「ユーチューバーの経済圏に好循環を生み出すこと」を目標に活動しています。
      年内は、チャンネル登録者数1万人以上のユーチューバーを1万人以上フィーチャーす
      ることが目標です。
      <p class="site_text">
  </section>
</div>