/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // ここからbootswatchのテーマ
@import "united/variables";
@import "bootstrap";
@import "united/bootswatch";
@import "*";
html{
  font-size: 16px;
}
body{
  background-color: #EEEEEE;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;;
}
ul.topnav {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #222222;
}
ul.topnav li {
	float: left;
}
ul.topnav li a {
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	color: white;
}
ul.topnav li a:hover:not(.active) {
	background-color: #a9bce2;
}
ul.topnav li a.active {
	background-color: #da3c41;
}
ul.topnav li.right {
	float: right;
}
@media screen and (max-width: 480px) {
	ul.topnav li.right, ul.topnav li {
		float: none;
  }
}
.site_w{
  padding: 10px;
}
.site_title{
  padding: 10px;
}
.site_text{
  letter-spacing: 1px;
  line-height: 30px;
}
.inner{
  overflow: hidden;
  width: 90%;
  max-width: 1240px;
  margin: 30px auto;
}
footer{
  /*footerの装飾*/
  width: 100%;
  background-color: #222222;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  bottom: 0; /*下に固定*/
}
.search_container{
  box-shadow: 1px 1px 3px 0;
}
.youtuber_column{
  background-color: rgb(90, 90, 90);
  width:330px;
  min-height:500px;
  height:auto ;
  float:right;
}
.youtuber_container{
  padding: 10px  10px;
  background-color: #fff;
  margin: 10px 10px;
}
.main_column div:not(:last-child){
  margin-bottom: 0;
}
.youtuber_infomation{
  margin-bottom: 10px;
  
}
.youtuber_name{
  text-decoration: none;
  font-weight: bold
}
.youtuber_subscriber{

}
.youtuber_genle{
  padding: 2px 3px;
  background-color: rgb(151, 151, 151);
  color: #EEEEEE;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 6px;
  display: inline-block;
  font-size: 0.8rem;
}
.genle_hover:hover{
  background-color: #f37579;
}
.boxtitle{
  background-color: #222222;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
  padding: 10px 0px;
  color: rgb(221, 219, 219);

}
.genle_description{
  font-size: 0.8em;
}
.main_column{
  max-width: 800px;
  width: 90%;
  background-color: white;
  float: left;
}
.top_space{
  padding: 20px;
  background-color:#222222;
}
.name_search_form{
  text-align: center;
}
.earch_foram{
  text-align: center;
  border-radius: 36px;
  height: 60px;
  padding: 10px 30px 10px 60px;
  font-size: 18px;
  background-position: 23px center;
  background-size: 22px auto;
}
.name_search{
  width: 500px;
  height: 60px;
  border-radius: 80px;
  font-size: 1.5rem;
  background-color: rgb(255, 232, 232);
  padding: 4px 15px;
}
.search_title{
  text-align: center;
}
.genle_search_column{
}
.name_youtuber_column{
  background-color: rgb(192, 192, 192);
  max-width:800px;
  min-height:500px;
  height:auto ;
  margin-top: 50px;
}
.youtuber_container{
  padding: 10px  10px;
  background-color: #fff;
  margin: 10px 10px;
  overflow: hidden;
}
.youtuber_information{
  max-width: 400px;
  width: 400px;
  float: left;
  margin-top: 10px;
}
.youtuber_name{
  text-decoration: none;
  font-weight: bold
}
.youtuber_subscriber{

}
.youtuber_genle{
  padding: 2px 3px;
  background-color: rgb(151, 151, 151);
  color: #EEEEEE;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 6px;
  display: inline-block;
  font-size: 0.8rem;
}
.genle_hover:hover{
  background-color: #f37579;
}
.boxtitle{
  background-color: black;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
  padding: 10px 0px;
  color: rgb(221, 219, 219);

}
.genle_description{
  font-size: 1rem;
}
.side_column{
  width: 330px;
  min-width: 330px;
  float: right;
}
.side_inner{
  width: 330;
}
.side_navi{
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}
.side_navi_list{
  list-style: none;
  padding: 0px;
}
.side_navi_title{
  padding: 5px 10px ;
  background-color:#222222;
  color: white;
  margin-bottom: 0px;
  font-size: 1rem;
}
.side_navi_item{
  background-color: white;
  padding: 10px 20px;
  border: 0.8px dotted #818181;
}
.navi_title{
  text-decoration: none;
}
.category_search_column{

}
.index_genle{

}
.youtuber_video_samnaile{
  width: 150px;
  height: 100px;
}
.youtuber_video_container{
  float: right;
  padding-right: 100px;
}

.login {
  width: 400px;
  margin: 50px auto 0 auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: rgb(87, 87, 87);
}

.login-header {
  background:rgb(87, 87, 87);
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #333030;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background:rgb(87, 87, 87);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background:rgb(87, 87, 87);
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: rgb(87, 87, 87);
}
.password_length{
  color: white;
  padding: 0 0 20px 12px;
}
.login_column{
  width: 400px;
  margin: 0 auto;
}
.sighn_in_column,.sighn_up_column{
  margin: 0 auto;
}
.sighn_in,.sighn_up,.password_enter{
  color: #222222;
}
.page_description_container{
  background-image: url("/images/夜の街並み.jpeg");
  background-size: 100%;
}
.page_description_title,.page_description{
  color: white;
}
.page_description_column{
  padding: 30px 0px 30px 50px;
}
.pagination{
  justify-content: center;
  padding: 30px 0px;
  margin: 0;
}
.pagination>.other>a{
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  border-radius: 20px;     /*角を丸くする*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #ff2d2d;     /*背景の色を変える*/
  border-radius: 20px;     /*角を丸くする*/
  border: none;
}

/*ホバー時のデザイン*/
.pagination>a:hover {
  border-radius: 20px;    /*角を丸くする*/
}
.pagination>.first>a,
.pagination>.last>a,
.pagination>.next>a,
.pagination>.return>a,
.pagination>.return>a{
  border: none;     /*枠線をなくす*/
  background: rgb(87, 87, 87);
  color: white;
}
.pagination>li{
  padding: 3px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.category_title{
  font-weight: bold;
}
.index_genle_search_title{
  font-weight: bold;
  padding-left: 15px;
}

/*ユーチューバーGROWTHとは？*/
.home_header{
  background-image: url("/images/home_header.jpg");
  background-size: cover;
  color: white;
}
.home_body{
  width: 90%;
  max-width: 1040px;
  margin: 50px auto;
  position: relative;
  z-index: 2;
  background-color:white;
}
.home_sab_title{
  background-color: #D9E5FF;
}
.home_header_title{
  margin: 0px 30px;
}
.home_header_text{
  margin: 0px 20px;

  padding: 20px 0px;
}
/*ユーチューバー詳細ページ*/
.good_color{
  color: gray
}

.nogood_color{
  color: rgb(240, 54, 85)
}
.rank_container{
  overflow: hidden;
  text-align:  center;
}
.rank_column{
  width: 45%;
  margin-right: 10px;
  margin-left: 23px;
  margin-top: 15px;
  margin-bottom: 15px;
  float: left;
  display: inline-block;
  border-radius: 20px;
  background-color: white;
  height: 335px;
  position: relative;
}
.rank_video_samnaile{
  width: 200px;
  height: 130px;
}
.rank_main_column{
  max-width: 800px;
  width: 90%;
  background-color: rgb(87, 87, 87);
  float: left;
}
.rank_number{
  font-weight: 900;
  font-size: 2rem;
  font-style:italic;
  margin-top: 2px;
}
.rank_subscrivber{
  font-weight: bold;
  color: white;
  margin-bottom: 0px;
}
.rank_subscrivber_column{
  background-color: rgb(39, 38, 38);
  padding: 10px;
  border-radius: 0px 0px 20px 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.rank_channel_name{
  font-size: 1.2rem;
  font-weight: bold;
}
.rank_title{
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: 0px 0px 0px 10px;
}
.rank_genle_title_column{
  margin: 0px 10px;

}
.rank_genle_column{
  display: inline-block;

}
.sighn_up_description{
  margin-bottom: 20px;
}
.error_message{
  text-align: center;
}