/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // ここからbootswatchのテーマ
@import "united/variables";
@import "bootstrap";
@import "united/bootswatch";
@import "*";
html{
  font-size: 16px;
}
body{
  background-color: #EEEEEE;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;;
}
ul.topnav {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #222222;
}
ul.topnav li {
	float: left;
}
ul.topnav li a {
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	color: white;
}
ul.topnav li a:hover:not(.active) {
	background-color: #a9bce2;
}
ul.topnav li a.active {
	background-color: #da3c41;
}
ul.topnav li.right {
	float: right;
}
@media screen and (max-width: 480px) {
	ul.topnav li.right, ul.topnav li {
		float: none;
  }
}
.site_w{
  padding: 10px;
}
.site_title{
  padding: 10px;
}
.site_text{
  letter-spacing: 1px;
  line-height: 30px;
}
.site_column{
  width: 90%;
  max-width: 1040px;
  margin: auto;
}
footer{
  /*footerの装飾*/
  width: 100%;
  background-color: #222222;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  bottom: 0; /*下に固定*/
}
.youtuber_column{
  width:400px;
  min-height:500px;
  height:auto ;
  float:right;
  margin-top:10px;
}
.youtuber_container{
  padding: 10px  13px;
  background-color: #fff;
  margin: 10px 0px;
}
.youtuber_infomation{
  margin-bottom: 10px;
}
.youtuber_name{
  text-decoration: none;
  font-weight: bold
}
.youtuber_subscriber{

}
.youtuber_genle{
  padding: 3px 5px;
  background-color: rgb(151, 151, 151);
  color: #EEEEEE;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 6px;
  display: inline-block;
}
.genle_hover:hover{
  background-color: #f37579;
}
