.category_column{
  border: solid 1px #000000;
  box-shadow: 1px 2px 4px;
}
.category_top_title{
  font-weight: bold;
  color: white;
  margin-bottom: 0px;
}
.space{
  margin-top: 30px;
}
.category_channel_name{
  margin: 20px;
}