.show_channel_title{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.show_youtuber_video_samnaile{
  width: 560px;
  height: 315px;
}

.show_youtuber_column{
  text-align: center;
  margin: 30px 20px;
}

.show_channel_name{
  font-size: 1.8rem;
  font-weight: bold;
}

.show_channel_subscriber{
  font-size: 1.8rem;
  font-weight: bold;
}
.show_video_category{
  padding: 2px 3px;
  background-color: rgb(151, 151, 151);
  color: #EEEEEE;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 6px;
  display: inline-block;
  font-size: 0.8rem;
}
.show_video_category:hover{
  background-color: #f37579;
}
.show_category_genle_column{
  margin: 0px auto;
}
.show_good_count{
  font-size: 1.8rem;
  font-weight: bold;
  display: inline-block;
  vertical-align:middle;
}
.show_good_column{
  text-align: center;
}
.show_good_count_column{
  
}

.show_good{
  font-weight: bold;
  display: inline-block;
  vertical-align:middle;
}
.show_video_samnaile{
  width: 560px;
  height: 315px;
}