/*ユーチューバーGROWTHとは？*/
.home_header{
  background-image: url("home_header.jpg");
  background-size: cover;
  color: white;
}
.home_body{
  width: 90%;
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 2;
  background-color:white;
}
.home_sab_title{
  background-color: #D9E5FF;
}
.home_header_title{
  margin: 0px 30px;
}
.home_header_text{
  margin: 0px 20px;

  padding: 20px 0px;
}
/*ユーチューバー詳細ページ*/
.good_color{
  color: gray
}

.nogood_color{
  color: palevioletred
}

